<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <!-- first -->
<section id="header" class="dark">
  <header>
    <h1 style="text-shadow:3px 3px 0 black;font-weight: bold;">Bilo kuda "RAĆA" svuda!</h1>
    <h1 style="text-shadow:3px 3px 0 black;font-weight: bold;">063/379-406</h1>		
    <a style="text-shadow:2px 2px 0 black;" class="poziv fa fa-phone" href="tel:38163379406"> Pozovite nas!</a>		
  </header>
</section>
<!-- second -->
<section id="about" class="main">
  <header>
    <div class="container">
      <h2 style="text-align:center;">Usluge koje nudimo</h2>
      <div class="usluge">
        <div>
          <p class="icon fa fa-arrow-right">
            Pomoć na putu: prevoz
            putničkih i kombi
            vozila
          </p>
        </div>
        <div>
          <p class="icon fa fa-arrow-right">
            Transport građevinskih mašina do 15
            TONA
          </p>
        </div>
        <div>
          <p class="icon fa fa-arrow-right">
            Transport građevinskih kontejnera sa NAŠIM
            utovarom i istovarom
          </p>
        </div>
        <div>
          <p class="icon fa fa-arrow-right">
            Transport mašina: strugova, glodalica, presa...
          </p>
        </div>
        <div>
          <p class="icon fa fa-arrow-right">
            Transport svih vrsta poljoprivrednih mašina
          </p>
        </div>
      </div>
    </div>
  </header>
</section>
<!-- third -->
<section id="vehicles" class="main">
  <div class="content dark style2" id="fourth">
    <div class="container">
      <div class="row">
        <div class="col-4 col-12-narrow">
          <section class="fqr" style="font:bold;margin-top:40%;">
            <p>
              <b><i class="fa fa-check">Brzo!</i></b>
            </p>
            <p>
              <b><i class="fa fa-check">Kvalitetno!</i></b>
            </p>
            <p>
              <b><i class="fa fa-check">Odgovorno!</i></b>
            </p>
            <footer>
              <a href="gallery.html" class="button scrolly">Pogledajte još</a>
            </footer>
          </section>
        </div>
        <div class="col-8 col-12-narrow">
          <div class="row">
            <div class="col-6"><a href="" class="image fit disabled"><img src="images/raca20.jpg"
                  alt="" /></a>
            </div>
            <div class="col-6"><a href="" class="image fit disabled"><img src="images/raca21.jpg"
                  alt="" /></a>
            </div>
            <div class="col-6"><a href="" class="image fit disabled"><img src="images/raca22.jpg"
                  alt="" /></a>
            </div>
            <div class="col-6"><a href="" class="image fit disabled"><img src="images/raca23.jpg"
                  alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="company" class="main">
  <div class="content dark style1 featured" id="offers">
    <div class="container">
      <div class="row">
        <div class="container">
          <p style="font-size:35px; margin-top:60px;">
            O NAMA
          </p>
          <p style="text-align: left; letter-spacing: 3px; font: bold; font-size: 20px;">
            Šlep služba "Raća" posluje od 2001-e godine čije je središte firme u Velikoj Moštanici -
            Beograd.
            Dugogodišnjim iskustvom opravdava svaki svoj izlazak na teren. Profesionalno opremljenim
            vozilima
            ispunjava maksimalan kvalitet usluge.
          </p>
        </div>
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon fa-clock-o sat"></span></span>
            <header>
              <h3>00-24</h3>
            </header>
            <p>Uvek dostupni za vas!</p>
          </section>
        </div>
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon fa-phone call"></span></span>
            <header>
              
              <a class="poziv" href="tel:38163379406">POZOVITE NAS!</a>
            </header>
          </section>
        </div>
        <div class="col-4 col-12-narrow">
          <section>
            <span class="feature-icon"><span class="icon fa-road put"></span></span>
            <header>
                <h3>Pomoc na putu</h3>
              </header>
              <p>Sve vrste usluga</p>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="main">
  <header>
    <div class="container">
      <h2 style="text-align:center;">Kontakt</h2>
      <div class="info">
        <div>
          
          <p>Samostalni autoprevoznik</p>
          <p>Đurđević Radoslav</p>
          <p>Lipljanska 7</p>
          <p>Velika Moštanica - Beograd</p>
          <p><a class="poz fa fa-phone" href="tel:38163379406"> 063/379-406</a></p>
            
          <p class="fa fa-envelope"><a href="mailto:slepsluzbaracabg@gmail.com"> slepsluzbaracabg@gmail.com</a></p>
          
        </div>
      </div>
    </div>
  </header>
</section>
</body>
</html>